numpy
pillow
opencv-python
scikit-image

torch
torchvision
torchaudio

tensorflow
keras

pandas
pyarrow
tqdm

matplotlib
seaborn

opencv-contrib-python
ffmpeg-python
imageio

albumentations
imgaug
shapely

scikit-learn